{
  "extends": "standard",
  "env": {
    "jest": true
  },
  "globals": {
    "BigInt": true
  },
  "rules": {
    "no-prototype-builtins": "off",
    "quote-props": "off",
    "prefer-const": "off",
    "indent": "off",
    "dot-notation": "off",
    "quotes": "off"
  }
}
